<div class="container">
  <form  class="form">
    
    <div class="form-group">
      <label for="fristname">FirstName :
        <input name="fristname" [value]="firstname" type="text" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label for="lastname">LastName :
        <input name="lastname" [value]="lastname"type="text" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label for="Sprots">Sprots :
        <input name="Sprots" [value]="sports"type="text" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label for="age">Age :
        <input name="age" [value]="age" type="number" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label for="odi">
        <input name="odi" [value]="odi" type="number" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label for="pic">Profil image :
        <input name="pic" type="file" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label for="country">
        <input name="country" type="text" class="form-control">
      </label>
    </div>

  </form>
</div>